#mainBody{
  /*background-image: url(../images/smartphone.jpg);
  background-size: auto;*/
}

div{
  display: block;
}

#header_block{
  min-width: 1138px;
  position: relative;
}

#dot-box{
  height: 630px;
  width: 100%;
  position: absolute;
}

.catch {
  width: 970px;
  margin: 0 auto;
}

.txt{
  text-align: center;
  text-shadow: 0 0 7px #000;
  line-height: 1;
  padding: 10px 0 0;
  color: #FFF;
  font-weight: normal;
  clear: both;
}

h1.txt{
  font-size: 50px;
}

h2.txt{
  font-size: 35px;
}

.question {
  width: 970px;
  margin: 0 auto;
  /*background-color: #ffeeee;*/
}

.answer {
  width: 970px;
  margin: 0 auto;
  /*background-color: #ffeeff;*/
}

.image {
  width: 128px;
  height: 128px;
  float: left;
  padding: 0;
  margin-left: -5px;
  margin-top: 10px;
  background-color: #123456;
}
