div.btnWrapper{
  margin: 60px auto 0;
  left: 0;
  height: 300px;
  text-align: center;
  /*background-color: #aabb00;*/
}

div.btnArea{
  text-align: center;
}

input.btn{
  padding: 15px 0;
  margin: 36px auto 0;
  width: 375px;
  text-align: center;
  font-size: 30px;
  border: 1px solid #DDD;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #09C;
  color: #FFF;
}
