@import url(normalize.css);

html, body {
  background: #fff;
  height: 100%;
  color: #333;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

a { color: #00496E; }
a:visited { color: #00496E; }
a:hover { text-decoration: none; }

.container {
  width: 100%;
  margin: 0 auto;
}

.list {
  width: 33.333%;
  min-height: 100%;
  float: left;
}

.list img.ai {
  max-width: 50%;
  vertical-align: middle;
}

.item {
  padding: 5px;
  margin: 0 1px 1px 0;
}

.item img {
  margin-right: 1em;
  width: 16px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  vertical-align: middle;
}

.item-1 { border: solid 1px #C7243A; background: rgba(199, 36, 58, .1); }
.item-2 { border: solid 1px #369; background: rgba(51, 102, 153, .1); }
.item-3 { border: solid 1px #E9A321; background: rgba(233, 163, 33, .1); }
